/*Start Global Rules*/

:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.3s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 80px;
    padding-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

@media (max-width:767px) {
    .container {
        padding-left: 30px;
    }
}

/* End Global Rules */

/* Start Header */

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 10px);
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-color: transparent transparent var(--section-background) transparent;
    border-style: solid;
    position: absolute;
    right: 0;
    top: -20px;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
    transition: var(--main-duration);
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End Header */

/* Start Landing Section */

.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
}

.landing .intro-text p {
    font-size: 20px;
    line-height: 1.8;
}

/* End Landing Section */

/* Start Features */

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container i {
    font-size: 50px;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

@media (min-width:900px) {
    .features .container {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
}

.features .container .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .container .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* End Features */

/* Start Services */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.special-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    margin: 0;
    color: #ebeced;
    font-size: 100px;
}

.special-heading+p {
    position: relative;
    top: -40px;
    text-align: center;
    font-weight: 800;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

@media (min-width:900px) {
    .services .services-content {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}

.services .services-content .col img {
    width: 260px;
    height: 285px;
    object-fit: cover;
    text-align: center;
}

.services-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: auto;
    width: 100%;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

.services .services-content .srv i {
    color: var(--main-color);
    font-size: 40px;
    flex-basis: 60px;
}

@media (max-width:767px) {
    .services .services-content .srv {
        text-align: center;
        flex-direction: column;
    }

    .services-content .col:last-child {
        text-align: center;
    }
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}

.services .services-content .srv .text p {
    color: #777;
    margin-bottom: 0;

}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    display: block;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}

@media (min-width:1450px) {
    .services .services-content .image::before {
        right: 15%;
    }
}

@media (min-width:2000px) {
    .services .services-content .image::before {
        right: 25%;
    }
}

@media (min-width:2800px) {
    .services .services-content .image::before {
        right: 35%;
    }
}

@media (max-width:1040px) {
    .image-cloumn {
        display: none;
    }
}

/* End Services */

/* Start Portfolio  */

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

@media (min-width:900px) {
    .portfolio .portfolio-content {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}


.portfolio .portfolio-content .card {
    background-color: white;
}


.portfolio .portfolio-content .card img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    margin-bottom: 0;
}

/* End Portfolio  */
/* Start About  */

.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}

@media (max-width:991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }

}

.about .about-content .text {
    margin: 0;
}

.about .about-content .image {
    width: 250px;
    height: 375px;
    position: relative;
}


@media (max-width:991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: 1;
}

.about .about-content .image::after {
    content: "";
    width: 120px;
    height: 300px;
    position: absolute;
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    top: -40px;
    right: -150px;
    z-index: 1;
}

@media (max-width:991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* End About  */

/* Start Contact */

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .container .labl {
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    color: #2c4755;
    margin-bottom: 15px;
}

.contact .container .labl p {
    margin: 35px 0 0;
}


.contact .container .link {
    text-align: center;
}

.contact .container .link a {
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .container .labl2 {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}

/* End Contact */

/* Start Footer */
.footer {
    padding: 30px 10px;
    background-color: #2c4755;
    text-align: center;
    color: white;
    font-size: 18px;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}

/* End Footer */